<template>
    <div>
        <input type="text" placeholder="username" v-model="username">
        <input type="password" placeholder="Password" v-model="password">
        <button @click="login()">Login</button>
    </div>
</template>

<script>
export default {
    computed: {
        username() {
            return this.$store.state.a.data.username
        },
        password() {
            return this.$store.state.a.data.password
        }
    },
    methods: {
        login() {
            this.$store.dispatch('login')
        }
        // login() {
        //     const dataUser = {
        //         username: this.username,
        //         password: this.password
        //     }
        //     const newDataUser = JSON.stringify(dataUser)
        //     localStorage.setItem("dataUser", newDataUser)
        // }
    },
}
</script>
